# Tailscale
TS_AUTHKEY=

# Kong consumers

# MoviePilot / theater stack
MOVIEPILOT_SUPERUSER_PASSWORD=
MOVIEPILOT_DB_PASSWORD=
MOVIEPILOT_REDIS_PASSWORD=

# AI stack
COPILOT_TOKEN=
POSTGRES_PASSWORD=

# VM stack
WINDOWS_PASSWORD=

